﻿/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body                    { background-image: url('images/background.jpg'); background-repeat: repeat-x; font-size: .75em; font-family: Verdana, Helvetica, Sans-Serif; 
                          margin: 0; padding: 0; color: #696969; }
a:link                  { color: #1E9521; text-decoration: underline; }
a:visited               { color: #1E9521; }
a:hover                 { color: #A4D49A; text-decoration: none; }
a:active                { color: #1E9521; }
p, ul                   { margin-bottom: 20px; line-height: 1.6em; }

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6  { font-size: 1.5em; color: #1E9521; font-family: Arial, Helvetica, sans-serif; }
h1                      { font-size: 2em; padding-bottom: 0; margin-bottom: 0; }
h2                      { padding-bottom: 0px; margin-bottom: 0px; }
h3                      { font-size: 1.2em; color: #000; }
h4                      { font-size: 1.1em; }
h5, h6                  { font-size: 1em; }

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 { margin-top: 0; }

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page                   { background-image: url('images/logo.jpg'); background-repeat:no-repeat; }
#header                 { padding: 0px; margin-bottom: 0px; height: 99px; text-align: left; }
#header h1              { font-weight: bold; padding: 5px 0; margin: 0; color: #fff; border: none; line-height: 2em; font-family: Arial, Helvetica, sans-serif; font-size: 32px !important; }
#main                   { padding: 10px 0px 0px 30px; margin-bottom: 30px; }
#left                   { background-image: url('images/leftBar.gif'); background-repeat:no-repeat; width: 16px; height: 339px; position: absolute; }
#footer                 { color: #999; padding: 10px 0; text-align: center; line-height: normal; margin: 0; font-size: .9em; }

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/
fieldset                { width: 660px; margin: .5em 0; padding: 1em; border: 1px solid #CCC; }
fieldset p              { margin: 2px 12px 10px 10px; }
legend                  { font-size: 1.1em; font-weight: 600; padding: 2px 4px 8px 4px; }
input[type="text"]      { width: 200px; border: 1px solid #CCC; }
input[type="password"]  { width: 200px; border: 1px solid #CCC; }
input[readonly]         { background-color: #EBEBE4; }
.userSelectList         { width: 275px; height: 290px; border: 1px solid #CCC; }

/* TABLE
----------------------------------------------------------*/
table              { border: solid 1px #e8eef4; border-collapse: collapse; }
table td           { padding: 5px; border: solid 1px #e8eef4; }
table th           { padding: 6px 5px; text-align: left; color: #fff; background-color: #1E9521; border: solid 1px #e8eef4; }
tr.alt             { background-color: #A4D49A }

/* SUB TABLE
----------------------------------------------------------*/
.sub table         { border: solid 1px #e8eef4; border-collapse: collapse; }
.sub table td      { padding: 5px; border: solid 1px #e8eef4; }
.sub table th      { padding: 6px 5px; text-align: left; color: #fff; background-color: #1E9521; border: solid 1px #e8eef4; }
.sub tr.alernate   { background-color: #A4D49A }

/* MISC
----------------------------------------------------------*/
.clear             { clear: both; height: 0px; }
.error             { color:Red; }
div#title          { display:block; float:left; text-align:left; }
#logindisplay      { font-size:1.1em; text-align:right; padding:10px; color:#FFFFFF; }
.dottedLine        { width: 690px; border-top: 2px dotted #000000; margin-top: 5px; margin-bottom: 15px; }
#alert             { padding-top: 10px; margin-left: 40px; width: 250px; font-weight: bold; }


/* REPORTS
----------------------------------------------------------*/
#report table       { border: none; }
#report table td    { border: none; }
#report table th    { border: none; }

/* MESSAGES
----------------------------------------------------------*/
.messageText            { padding-left: 25px; }
.messageContainer       { font-family: monospace; float: left; font-size: 14px; line-height: 0.8em; }
.message-display-field  { float: left; width: 350px; margin: 0.7em 0; }
.message-display-label  { float: left; text-align: right; width: 115px; padding-right: 5px; margin: 0.7em 0; }
#messageCount           { float: left; width: 300px; margin: 40px 0px 0px 50px; font-weight: bold; text-align: center; }
a.messageLink:link, 
a.messageLink:visited, 
a.messageLink:active    { text-decoration: none; }
a.messageLink:hover     { text-decoration: none; color: #000; }

/* PRINTING
----------------------------------------------------------*/
#printArea      { width: 710px; margin: 0px; display: none; visibility: hidden; }
.print-label    { width: 120px; float: left; padding-top: 3px; text-align: right; font-size: 1.5em; font-weight: bold; font-family: monospace; }
.print-field    { width: 210px; float: left; padding-top: 3px; padding-left: 5px; font-size: 1.5em; font-weight: bold; font-family: monospace; }
.print-text     { width: 710px; margin-top: 5px; padding-left: 25px; font-size: 1.5em; font-weight: bold; }
.print-divider  { width: 700px; margin-left: 10px; }

/* PAGER
----------------------------------------------------------*/
#pager      { width: 910px; text-align: center; margin-top: 15px; font-size: 1.3em; }

/* LINKS
----------------------------------------------------------*/
a.menu:link, a.menu:visited { color: #FFFFFF; text-decoration: underline; }
a.menu:hover                { color: #FFFFFF; text-decoration: none; }
a.menu:active               { color: #FFFFFF; }
a.sortable:link, 
a.sortable:visited, 
a.sortable:active, 
a.sortable:hover            { color: #FFF; text-decoration: underline; }

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error     { color: #ff0000; }
.field-validation-valid     { display: none; } 
.input-validation-error     { border: 1px solid #ff0000; background-color: #FF6666; }
.validation-summary-errors  { font-weight: bold; color: #ff0000; }
.validation-summary-valid   { display: none; }

/* Styles for login box and inputs
----------------------------------------------------------*/
#loginContainer         { width: 430px; margin: 25px 0px 0px 100px; }
#loginHeader            { background-color: #1E9521; font-size: 1.25em; color: #FFF; padding: 5px 10px; }
#loginBox               { background-color: #A4D49A; padding-top: 10px; }
#loginError             { color: Red; font-weight: bold; margin-bottom: 10px; display:block; }
p.loginButton           { padding: 0px 0px 8px 46px; }

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-field          { float: left; width: 210px; margin: 0.7em 0; color: #000; }
.display-label          { float: left; text-align: right; width: 100px; margin: 0.8em 0; padding-right: 5px; color: #000; }
.editor-field           { float: left; width: 500px; margin: 0.7em 0; }
.editor-label           { float: left; text-align: right; width: 140px; margin: 0.8em 0; padding-right: 5px; }
.text-box               { width: 500px !important; }
.text-box-readonly      { width: 150px !important; background-color: #CCC; }
.text-box.multi-line    { height: 6.5em; }
.tri-state              { width: 6em; }

/* Tab Styles
----------------------------------------------------------*/
#tabsContainer      { border: 1px solid #000; width: 780px; margin: -12px 0px auto; padding-bottom: 20px; }
.tabContent         { width: 750px; padding: 25px 0px 0px 25px; margin: 0px 0px auto; }

/* Selected Tab */
li.selectedTab		{ border-bottom: 1px solid #fff; background-color: #fff; }
li.selectedTab a	{ background-color: #fff !important; color: #000 !important; position: relative !important; 
                	  top: 1px; padding-top: 4px; }

/* Entire Tab */
ul#tabnav			{ text-align: left; margin: 0 0 1em 0; font: bold 11px verdana, arial, sans-serif; border-bottom: 1px solid #000;
         			  list-style-type: none; padding: 3px 10px 3px 10px; width: 732px;}
ul#tabnav li		{ display: inline; }
ul#tabnav li a      { padding: 2px 4px 3px; border: 1px solid #000; background-color: #E4E4E4; color: #000; 
              		  margin-right: 0px; text-decoration: none; border-bottom: none; }
ul#tabnav a:hover	{ background: #A4D49A; }

/* Icons 
----------------------------------------------------------*/
.iconContainer      { width: 755px; }
.adminIconContainer { width: 671px; }
.iconRight          { float: right; width: 50px; height: 62px; text-align: center; font-size: .85em; margin-top: 15px; }
.iconLeft           { float: left; width: 50px; text-align: center; font-size: .85em; }
a.iconLink:link,
a.iconLink:visited,
a.iconLink:hover,
a.iconLink:active   { text-decoration: none; color: #696969; }

/* Modal Popup
----------------------------------------------------------*/
.messagepop     { background-color: #A4D49A; cursor:default; display: none; margin-top: 15px; position: absolute; text-align: left;
                  width: 250px; height: 250px; overflow-y: scroll; z-index: 50; padding: 5px 5px; color: #000000; }
.messagepop p, 
.messagepop.div { border-bottom: 1px solid #EFEFEF; padding-bottom: 8px; }