﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<DSNY.ViewModels.NewUserModel>" %>

    <div class="editor-label"><%: Html.LabelFor(model => model.userName) %>:</div>
    <div class="editor-field">
        <%: Html.TextBoxFor(model => model.userName) %>
        <%: Html.ValidationMessageFor(model => model.userName) %>
    </div>
    <div class="clear"></div>

    <div class="editor-label"><%: Html.LabelFor(model => model.description) %>:</div>
    <div class="editor-field">
        <%: Html.TextBoxFor(model => model.description) %>
        <%: Html.ValidationMessageFor(model => model.description) %>
    </div>
    <div class="clear"></div>

    <div class="editor-label"><%: Html.LabelFor(model => model.email) %>:</div>
    <div class="editor-field">
        <%: Html.TextBoxFor(model => model.email) %>
        <%: Html.ValidationMessageFor(model => model.email) %>
    </div>
    <div class="clear"></div>

    <div class="editor-label">Password:</div>
    <div class="editor-field">
        <%: Html.PasswordFor(model => model.password)%>
        <%: Html.ValidationMessageFor(model => model.password) %>
    </div>
    <div class="clear"></div>

    <div class="editor-label">Verify Password:</div>
    <div class="editor-field">
        <%: Html.PasswordFor(model => model.confirmPassword) %>            
        <%: Html.ValidationMessageFor(model => model.confirmPassword) %>
    </div>
    <div class="clear"></div>

    <div class="editor-label">Role:</div>
    <div class="editor-field">
        <% string[] selectedRole = Request.Form["role"] != null ? Request.Form["role"].Split(',') : null; %>
        <% foreach (string role in (string[])ViewData["Roles"]) { %>
            <% if (selectedRole != null) { 
                    if (selectedRole.Contains(role)) {%>
                        <div style="margin: 5px 0px"><input type="checkbox" checked="checked" name="role" value="<%: role %>" />&nbsp;<%: role%></div>
            <%     } else { %>
                        <div style="margin: 5px 0px"><input type="checkbox" name="role" value="<%: role %>" />&nbsp;<%: role%></div>
            <%     } 
                } else {
                    if (Model != null && Model.role != null && Model.role.Exists(r => r.roleName == role)) { %>
                    <div style="margin: 5px 0px"><input type="checkbox" checked="checked" name="role" value="<%: role %>" />&nbsp;<%: role%></div>
            <%      } else { %>
                    <div style="margin: 5px 0px"><input type="checkbox" name="role" value="<%: role %>" />&nbsp;<%: role%></div>
            <%      }
                }
                } %>
    </div>
    <div class="clear"></div>

    <div class="editor-label"><%: Html.LabelFor(model => model.isDistribution) %>:</div>
    <div class="editor-field"><%: Html.CheckBoxFor(model => model.isDistribution, new { @checked = "true" })%></div>
    <div class="clear"></div>

    <div class="editor-label"><%: Html.LabelFor(model => model.isEmail) %>:</div>
    <div class="editor-field"><%: Html.CheckBoxFor(model => model.isEmail, new { @checked = "true" })%></div>
    <div class="clear"></div>

    <div class="editor-label"><%: Html.LabelFor(model => model.isActive)%>:</div>
    <div class="editor-field">
        <%: Html.CheckBoxFor(model => model.isActive, new { @checked = "true" })%>
        <%: Html.ValidationMessageFor(model => model.isActive) %>
    </div>
    <div class="clear"></div>